/* Xournalpp */
#sidebarContents {
    background-color: @view_bg_color;
}
/*
.close {
    color: @destructive_bg_color;
}

.maximize {
    color: @warning_bg_color;
}

.minimize {
    color: @success_bg_color;
}
*/
